/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

img {
    max-width: 100vw;
}

ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
}
.image2 {
    display: none;
}

/* NAVBAR */

nav {
    background-color: #540B51;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
#slack-logo {
    height: 30px;
}
nav ul {
    display: none;
}
.nav-second-div {
    display: flex;
    gap: 20px;
}
.nav-second-div button {
    background-color: #540B51;
    border: none;
}

/* HEADER */

header {
    background-color: #540B51;
    padding: 20px;
}
header h1 {
    margin-top: 0;
    color: white;
    font-weight: 300;
    
}
header p {
    color: white;
}
#slack-free-span {
    color: #ECB12F;
}
header button {
    border: none;
    width: 90%;
    height: 50px;
    margin: 10px;
    text-transform: uppercase;
}
#email-button {
    color: #540B51;
}
#google-button {
    color: white;
    background-color: #4285F4;
    display: flex;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    position: relative;
}
#google-button img {
    background-color: white;
    height: 80%;
    position: absolute;
    left: 10px;
    /* Note how this image has position: absolute and the parent element has position relative, so we can then give it a left: 10px */
}
#hero-product-img {
    width: 100%;
    margin-top: 20px;
}

/* MAIN */

main {
    padding: 0;
    text-align: left;
    margin-bottom: 40px;
    margin-top: 0;
}
#main-first-p {
    margin: 0 auto 30px auto;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
}
.main-companies-logos {
    width: 100%;
    margin: 10px auto 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.main-companies-logos img {
    height: 50px;
}
main a {
    text-decoration: none;
    color:#4285F4;
    padding: 20px;
}
main p,
main h2 {
    padding: 20px;
}
main img {
    margin-top: 20px;
}
#section-move-faster {
    padding-bottom: 40px;
}
#main-first-section {
    margin-top: 0;
}
#main-first-section,
#bring-team-section,
#choose-how-section,
#section-move-faster {
    background-color:#F3EAE2;
}
#section-teams {
    background-color: white;
    text-align: center;
    margin-bottom: 0;
    padding-top: 40px;
}
main button {
    border: none;
    width: 90%;
    height: 50px;
    margin: 10px;
    text-transform: uppercase;
}

#meet-slack-btn {
    background-color: #540B51;
    color: white;
}
#talk-sales-btn {
    background-color: white;
    color: #540B51;
    border: 1px solid #540B51;
}
main ul {
    list-style: none;
}
.main-p-span {
    font-size: 2em;
    font-weight: 700;
    color: #540B51;
    margin-bottom: 0;
}
main ul p {
    padding: 0 20px 0 20px;
    text-align: center;
}
.last-p-main {
    margin-bottom: 0;
    padding-bottom: 30px;
}
.first-el-main {
    margin-top: 0;
}
#section-welcome {
    margin-top: 10px;
    background-color: #540B51;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
#section-welcome h3 {
    margin-top: 0;
    font-size: 2em;
}
#try-free-btn {
    background-color: #540B51;
    color: white;
    border: 1px solid white;
}
#talk-sales-btn-2 {
    color: #540B51;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
}
footer img {
    width: 50px;
    margin-bottom: 20px;
}
footer ul {
    text-align: left;
}
.footer-first-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.8em;
    gap: 15px;
}

.footer-first-div ul li,
#status-ul li {
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-first-div ul li:first-child,
#status-ul {
    font-weight: 700;
}

#status-ul li:last-child {
    color:#4285F4;
}

#logos-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer small {
    color: #454245;
}



/* MEDIA QUERIES */

@media (min-width: 768px) {
    .image1 {
        display: none;
    }
    .image2 {
        display: block;
        margin-top: 0;
        padding-top: 30px;
    }
    .first-image2 {
        position: relative;
        left: -150px;
    }
    .second-image2 {
        position: relative;
        right: -140px;
    }
    header {
        display: flex;
        align-items: center;
        padding-bottom: 100px;
    }
    
    header h1 {
        font-size: 3.5em;
        text-align: left;
        padding-left: 20px;
    }
    header p {
        text-align: left;
        padding-left: 20px;
    }

    #main-first-p {
        margin-bottom: 10px;
    }
    .main-companies-logos img {
        height: 30px;
    }

    #section-teams-buttons {
        display: flex;
        width: 70%;
        margin: 0 auto;
    }
    #percentages-ul {
        display: flex;
        width: 100%;
        margin: 20px auto;
    }

    #status-ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    #logos-list {
        width: 50%;
    }

    #try-free-link {
        background-color: white;
        color: #540B51;
        padding: 10px 15px;
        border-radius: 5px;
    }
    
    
}


@media (min-width: 1024px) {
    nav ul {
        display: flex;
        gap: 50px;
    }
    .nav-first-div {
        display: flex;
        align-items: center;
        gap: 50px;
    }
    .nav-second-div {
        padding-right: 30px;
    }
    nav a {
        color: white;
        text-decoration: none;
    }
    #humburger-btn {
        display: none;
    }

    #bring-team-section,
    #choose-how-section,
    #section-move-faster {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }
    #bring-team-section img,
    #choose-how-section img,
    #section-move-faster img {
        position: static;
        width: 100%;
    }
    #bring-team-section div,
    #choose-how-section div,
    #section-move-faster div {
        width: 50%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #section-welcome div {
        display: flex;
        width: 50%;
        margin: 0 auto;
    }
    #header-image-container {
        width: 70%;
    }

}


@media (min-width: 1440px) {
    #header-buttons {
        display: flex;
    }
}